/*** ESTILOS BOTÓN SLIDE BOTTOM ***/
.ov-btn-slide-bottom {
	background: #fff; /* color de fondo */
	color: #d74141; /* color de fuente */
	border: 2px solid #d74141; /* tamaño y color de borde */
	padding: 10px 15px;
	border-radius: 5px; /* redondear bordes */
	position: relative;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	}
	.ov-btn-slide-bottom:hover {
	color: #fff; /* color de fuente hover */
	}
	.ov-btn-slide-bottom::after {
	content: "";
	background: #d74141; /* color de fondo hover */
	position: absolute;
	z-index: -1;
	padding: 16px 15px;
	display: block;
	left: 0;
	right: 0;
	top: 100%;
	bottom: 100%;
	border-radius: 5px;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	}
	.ov-btn-slide-bottom:hover::after {
		border-radius: 5px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	}

	.es_bo{
		display: flex;
		flex-wrap: initial;
		position: relative;
		left: 55px;
		
	}